.favourite__section {
 
  margin: 330px 0;
  .favourite__box {
    background-color: #282F38;
    padding: 100px;
    position: relative;
    .favourite__top {
      text-align: center;
      h2 {
        font-size: 40px;
        color: #FEFCF7;
        font-weight: 900;
        margin-bottom: 32px;
        
      }
      p {
        width: 500px;
        color: #FEFCF7;
        font-size: 16px;
        line-height: 26px;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 100px;
      }
    }

    ul{
      display: flex;
      gap: 30px;
      align-items: center;
      text-align: center;
      justify-content: center;
      position:absolute;
      top: 69%;
      
      li {
        background-color: #0E8784;
        padding: 72px 48px 48px 48px;
        img {
          margin-bottom: 60px;
          width: 70px;
          height: 70px;
        }
        h3 {
          color: #FEFCF7;
          font-size: 24px;
          font-weight: 900;
          line-height: 32px;
          margin-bottom: 24px;
        }
        p {
          width: 240px;
          color: #FEFCF7;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }
   
  }
}

@media (max-width: 1284px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .favourite__box {
    ul {
      flex-direction: column;
      left: 0;
      width: 100%;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 250px;
        
        img {
          margin-right: 40px;
        }
          
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }

  .favourite__section {
    .favourite__box {
   
      .favourite__top {
        h2 {
          font-size: 24px;
          color: #FEFCF7;
          font-weight: 900;
          margin-bottom: 26px;
         
        }
        p {
          max-width: 300px;
          width: 90%;
          color: #FEFCF7;
          font-size: 14px;
          line-height: 24px;
          margin: 0 auto;
          margin-top: 40px;
          margin-bottom: 55px;
          text-align: start;
        }
      }
  
      ul {
        flex-direction: column;
        left: 0;
        width: 100%;
        li {
          padding: 30px;
          flex-direction: column;
          height: 300px;
          text-align: center;
          width: 100%;
          img {
            margin-right: 0;
            width: 100%;
          }
        
            
        }
      }
    }
  }
  
}