@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap");
header {
  padding: 45px 0;
}
header .header__top {
  margin-bottom: 90px;
}
header .header__top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__top ul .header__top-right a {
  margin-right: 33px;
  font-size: 12px;
  text-transform: uppercase;
  color: #83888F;
  font-weight: 700;
}
header .header__top ul .header__top-right a:hover {
  color: #333D4B;
}
header .header__top ul .header__top-right i {
  display: none;
}

@media (max-width: 700px) {
  .container {
    max-width: 800px;
    width: 90%;
  }
  header .header__top .header__top-right a {
    display: none;
  }
  header .header__top .header__top-right .icon i {
    display: block;
    width: 17px;
    height: 16px;
  }
}
.header__bottom .header__bottom-box {
  background-image: url("/images/header/Header-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 86px;
  color: #FEFCF7;
}
.header__bottom h1 {
  width: 450px;
  font-weight: 900;
  color: #000;
  font-size: 72px;
  margin-bottom: 32px;
  color: #FEFCF7;
}
.header__bottom p {
  width: 400px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 56px;
}
.header__bottom button {
  color: #FEFCF7;
  background-color: #66D2CF;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 530px) {
  .header__bottom .header__bottom-box {
    background-image: url("/images/header/Header-img.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 10px;
    color: #FEFCF7;
    text-align: center;
  }
  .header__bottom h1 {
    width: 350px;
    font-weight: 900;
    color: #000;
    font-size: 50px;
    margin-bottom: 24px;
    color: #FEFCF7;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .header__bottom p {
    font-size: 15px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 380px) {
  .header__bottom .header__bottom-box {
    background-image: url("/images/header/Header-img.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 10px;
    color: #FEFCF7;
    text-align: center;
  }
  .header__bottom h1 {
    width: 250px;
    font-weight: 900;
    color: #000;
    font-size: 40px;
    color: #FEFCF7;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header__bottom p {
    font-size: 14px;
    text-align: center;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header__bottom button {
    color: #FEFCF7;
    background-color: #66D2CF;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
.hero__section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.hero__section ul li {
  margin-right: 30px;
}
.hero__section ul li h3 {
  font-size: 24px;
  color: #333D4B;
  margin-top: 50px;
  margin-bottom: 25px;
}
.hero__section ul li p {
  color: #333D4B;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 1144px) {
  .hero__section ul {
    flex-direction: column;
  }
  .hero__section ul li {
    margin-right: 30px;
    display: flex;
    text-align: start;
  }
  .hero__section ul li h3 {
    font-size: 24px;
    color: #333D4B;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .hero__section ul li p {
    color: #333D4B;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 270px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 420px;
    width: 90%;
  }
  .hero__section {
    margin-bottom: 120px;
  }
  .hero__section ul {
    flex-direction: column;
  }
  .hero__section ul li {
    margin-right: 30px;
    flex-direction: column;
    text-align: center;
  }
  .hero__section ul li h3 {
    font-size: 24px;
    color: #333D4B;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .hero__section ul li p {
    color: #333D4B;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 270px;
  }
}
.favourite__section {
  margin: 150px 0;
}
.favourite__section .favourite__box {
  background-color: #282F38;
  padding: 100px;
  position: relative;
}
.favourite__section .favourite__box .favourite__top {
  text-align: center;
}
.favourite__section .favourite__box .favourite__top h2 {
  font-size: 40px;
  color: #FEFCF7;
  font-weight: 900;
  margin-bottom: 32px;
}
.favourite__section .favourite__box .favourite__top p {
  width: 500px;
  color: #FEFCF7;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 100px;
}
.favourite__section .favourite__box ul {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 69%;
}
.favourite__section .favourite__box ul li {
  background-color: #0E8784;
  padding: 72px 48px 48px 48px;
}
.favourite__section .favourite__box ul li img {
  margin-bottom: 60px;
  width: 70px;
  height: 70px;
}
.favourite__section .favourite__box ul li h3 {
  color: #FEFCF7;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 24px;
}
.favourite__section .favourite__box ul li p {
  width: 240px;
  color: #FEFCF7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 1284px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .favourite__box ul {
    flex-direction: column;
    left: 0;
    width: 100%;
  }
  .favourite__box ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 250px;
  }
  .favourite__box ul li img {
    margin-right: 40px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
  .favourite__section .favourite__box .favourite__top h2 {
    font-size: 24px;
    color: #FEFCF7;
    font-weight: 900;
    margin-bottom: 26px;
  }
  .favourite__section .favourite__box .favourite__top p {
    max-width: 300px;
    width: 90%;
    color: #FEFCF7;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 55px;
    text-align: start;
  }
  .favourite__section .favourite__box ul {
    flex-direction: column;
    left: 0;
    width: 100%;
  }
  .favourite__section .favourite__box ul li {
    padding: 30px;
    flex-direction: column;
    height: 300px;
    text-align: center;
    width: 100%;
  }
  .favourite__section .favourite__box ul li img {
    margin-right: 0;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
}/*# sourceMappingURL=main.css.map */